<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" href="adminhome.css"> <!-- Link to the external CSS file -->
</head>
<body>
    <h1>Admin Dashboard</h1>

    <form action="addsong">
        <input type="submit" value="ADD SONG">
    </form>

    <form action="viewsongs">
        <input type="submit" value="VIEW SONGS">
    </form>

    <form action="createplaylists">
        <input type="submit" value="CREATE PLAYLIST">
    </form>

    <form action="viewplaylists">
        <input type="submit" value="VIEW PLAYLISTS">
    </form>

    <form action="logout">
        <input type="submit" value="LOGOUT">
    </form>
</body>
</html>
