<!DOCTYPE html>
<html>
<head>
<title>Admin Home</title>
</head>
<body>

	<form action="addsong">
<input type="submit" value="ADD SONG">
</form>
<Br>
<form action="viewsongs">
<input type="submit" value="VIEW SONGS">
</form>
<Br>
<form action="createplaylists">
<input type="submit" value="CREATE PLAYLIST">
</form>
<Br>
<form action="viewplaylists">
<input type="submit" value="VIEW PLAYLISTS">
</form>
<Br>
<form action="logout">
<input type="submit" value="LOGOUT">
</form>
<Br>
</body>
</html>